<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immense.rss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homepage"
            android:label="Homepage"/>
        <activity android:name=".sportsnews"
            android:label="SportsNews"/>
        <activity android:name=".entertainmentnews"
            android:label="EntertainmentNews"/>
        <activity android:name=".technologynews"
            android:label="TechnologyNews"/>
        <activity android:name=".politicsnews"
            android:label="PoliticalNews"/>
        <activity android:name=".settings"
            android:label="Settings"/>
        <activity android:name=".newspage"
            android:label="NewsPage"></activity>
    </application>

</manifest>